#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@


# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
override_dh_auto_configure:
	update-alternatives --install /usr/bin/python3 python3 /usr/bin/python3.7 99
	pip3 install jsonschema --upgrade
	dh_auto_configure -- 	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH) \
				-DVULKAN_HEADERS_SOURCE_DIR="/usr" \
				-DVULKAN_LOADER_INSTALL_DIR="/usr" \
				-DVULKAN_VALIDATIONLAYERS_SOURCE_DIR="/usr" \
				-DCMAKE_INSTALL_SYSCONFDIR="/usr/share" \
				-DPROFILES_BUILD_TESTS="OFF" \
				-DREGENERATE_JSONCPP="OFF" \
				-DREGENERATE_PROFILES="OFF" \
				-DREGENERATE_LAYER="OFF" \
				-DFATAL_WARNINGS="OFF"
